$color-white: #ffffff;
$color-white__second: #fafafa;
$color-black: #000000;
$color-primary: #dd2a7c;
$color-secondary: #3095f6;
$color-grey: #dbdbdb;
$color-grey__pale: #efefef;
$color-grey__dark: #969696;
